body {
    background-color: bisque;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    color: #222;
}

nav {
    padding: 1.5rem 5%;
    background: #A372c3;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav .links {
    display: flex;
    list-style: none;
    gap: 8rem;
}

nav .links a {
    position: relative;
    text-decoration: none;
    color: #77cd8e;
    font-size: 2rem;
    font-weight: 600;
}



.petal {
  position: fixed;
  top: -25px;
  width: 18px;
  height: 18px;
  background: rgba(255, 182, 193, 0.75);
  border-radius: 50% 50% 50% 5%;
  animation: fall 8s linear infinite, sway 3s ease-in-out infinite alternate;
}


.petal:nth-child(1) {
  left: 10%; animation-delay: 1s, 0s; 
}

.petal:nth-child(2) {
  left: 25%; width: 14px; height: 14px; animation-delay: 2s, 1s;
}

.petal:nth-child(3) {
  left: 40%; animation-delay: 3.6s, 1.6s; 
}

.petal:nth-child(4) {
  left: 55%; width: 16px; height: 16px; animation-delay: 4.3s, 0.5s;
}

.petal:nth-child(5) {
  left: 70%; animation-delay: 6.2s, 1.1s; 
}

.petal:nth-child(6) {
  left: 85%; width: 20px; height: 20px; animation-delay: 7.3s, 2s;
}

.petal:nth-child(7) {
  left: 15%; animation-delay: 5s, 2.3s; 
}

.petal:nth-child(8) {
  left: 60%; width: 17px; height: 17px; animation-delay: 9s, 1.8s;
}


@keyframes fall {
  0% {
    transform: translate(0, 0) rotate(0deg);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  25% {
    transform: translate(20px, 25vh) rotate(45deg);
  }
  50% {
    transform: translate(-20px, 50vh) rotate(90deg);
  }
  75% {
    transform: translate(15px, 75vh) rotate(180deg);
    opacity: 0.65;
  }
  100% {
    transform: translate(-10px, 100vh) rotate(270deg);
    opacity: 0;
  }
}