body {
  background: linear-gradient(to bottom right, #e8f5ff, #f3e6ff);
  font-family: 'Poppins', sans-serif;
  color: #222;
  margin: 0;
  padding: 0;
}                

#Title_Logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  padding: 1rem 5%;
  background: #A372c3;
              /* made the navigation bar have a background and made elements be in center  */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

nav .links {
  list-style: none;
  display: flex;
  gap: 8rem;
}

nav .links li a {
  position: relative;
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;      /* this removed the underline which anchor tag has */
  color: #77cd8e;
}

.about {
  max-width: 600px;
  margin: 60px auto;
  padding: 40px;
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 25px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  color: #222;
  font-size: 1.2rem;
  line-height: 1.8;
}

.about h2 {
  text-align: center;
  font-size: 2rem;
  color: #704c9f;
  margin-bottom: 20px;
  text-shadow: 0 0 8px rgba(150, 100, 255, 0.6);
}

.about p {
  margin-bottom: 18px;
}





 .petal {
  position: fixed;       /*designed every petal and gave them color to look like petals */
  top: -25px;            /*and then gave it fall and sway animation to mimic petal falling */
  width: 18px;
  height: 18px;
  background: rgba(255, 182, 193, 0.75);
  border-radius: 50% 50% 50% 5%;
  animation: fall 12s linear infinite, sway 3s ease-in-out infinite alternate;
}

/* making every petal fall at different time and at different place */
.petal:nth-child(1) {
  left: 10%; animation-delay: 0s, 0s; 
}

.petal:nth-child(2) {
  left: 25%; width: 14px; height: 14px; animation-delay: 2s, 1s;
}

.petal:nth-child(3) {
  left: 40%; animation-delay: 3.6s, 1.6s; 
}

.petal:nth-child(4) {
  left: 55%; width: 16px; height: 16px; animation-delay: 1s, 0.5s;
}

.petal:nth-child(5) {
  left: 70%; animation-delay: 2.7s, 1.1s; 
}

.petal:nth-child(6) {
  left: 85%; width: 20px; height: 20px; animation-delay: 5s, 2s;
}

.petal:nth-child(7) {
  left: 15%; animation-delay: 5s, 2.3s; 
}

.petal:nth-child(8) {
  left: 60%; width: 17px; height: 17px; animation-delay: 6s, 1.8s;
}

/* added animation/keyframe to the petal so as to when going down, it changes the path and mimics a petal
falling while also giving rotation */

@keyframes fall {
  0% {
    transform: translateX(0) translateY(0) rotate(0deg);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  25% {
    transform: translateX(20px) translateY(25vh) rotate(45deg);
  }
  50% {
    transform: translateX(-20px) translateY(50vh) rotate(90deg);
  }
  75% {
    transform: translateX(15px) translateY(75vh) rotate(180deg);
    opacity: 0.65;
  }
  100% {
    transform: translateX(-10px) translateY(100vh) rotate(270deg);
    opacity: 0;
  }
}