body {
  padding: 0;
  margin: 0;
  max-width: 1396px;
  font-family: 'Poppins', sans-serif;
  color: #222;
}

nav {
    width: 100%;
    background-color:#A372c3;
    padding: 1rem 5%;

    display: flex;
    align-items: center;
    justify-content: center;
}

nav .links {
    list-style: none;
    display: flex;
    gap: 8rem;
}

nav .links a {
    text-decoration: none;
    color: #77cd8e;
    position: relative;
    font-size: 2rem;
    font-weight: 600;
}